.book {
   background-color: transparent;
}

.demoPage {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.capa {
   background-image: url('../assets/capa.png');
}

.capa2 {
   background-image: url('../assets/capa2.png');
}

.capa3 {
   background-image: url('../assets/capa3.png');
}

.capa-final {
   background-image: url('../assets/capa-final.png');
}

.page1 {
   background-image: url('../assets/page1.jpg');
}

.page2 {
   background-image: url('../assets/page2.jpg');
}

.page3 {
   background-image: url('../assets/page3.jpg');
}

.page4 {
   background-image: url('../assets/page4.jpg');
}

.page5 {
   background-image: url('../assets/page5.jpg');
}

.page6 {
   background-image: url('../assets/page6.jpg');
   position: relative;
}

.page21 {
   background-image: url('../assets/page21.png');
}

.page22 {
   background-image: url('../assets/page22.png');
}

.page23 {
   background-image: url('../assets/page23.png');
}

.page24 {
   background-image: url('../assets/page24.png');
}

.page25 {
   background-image: url('../assets/page25.png');
   position: relative;
}

.link {
   position: absolute;
   bottom: 15%;
   left: 30%;
}

.link2 {
   position: absolute;
   bottom: 10%;
   left: 30%;
}

img {
   width: 50%;
}

img {
   animation: action-tada 4s;
   animation-iteration-count: infinite;
 }
 
 @keyframes action-tada {
   0% {
     transform: scale(1);
   }
   20% {
     transform: scale(1.1) rotate(3deg);
   }
   40% {
     transform: scale(0.97);
   }
   60% {
     transform: scale(0.99) rotate(-3deg);
   }
   80% {
     transform: scale(1.05);
   }
   100% {
     transform: scale(1);
   }
 }