.book {
   /* min-width: 100dvw !important;
   min-height: 100dvh !important; */
}

.demoPage {
   background-image: url('../assets/jihi.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}